<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/basestyle.css">
        {% block head %}{% endblock %}

    <title>Энкост воркер</title>
</head>
<body>
<div>
    <nav class="flex justify-between text-3xl my-3">
        <ul class="flex ml-10">
            <a href="/"><img src="{{ url_for('static', path='logo.svg') }}" alt="" width="200"></a>
        </ul>
        <ul class="flex">
            <h1><b>Энкост воркер</b></h1>
        </ul>
        <ul class="flex gap-5 mr-10">
            <li>
                <div class="dropdown">
                    <button class="dropbtn" onclick="myFunction()"> Выбрать клиента
    <i class="fa fa-caret-down"></i>
  </button>
                    <div class="dropdown-content" id="myDropdown">
                    <a href="/copy_settings_endpoint">6 Техно ТТ</a>
                    <a href="/copy_settings_endpoint">98 Сава</a>
                    <a href="/copy_settings_endpoint">394 Марти Гласс</a>
                    <a href="/copy_settings_endpoint">396 БМ-сервис</a>
                  </div>
                </div>
            </li>
        </ul>
    </nav>
    <hr>
    <div class="wrapper">
        <nav class="sidebar">
            <ul>
                <li><a href="/copy_settings_endpoint">Скопировать настройки точки</a></li>
                <li><a href="/add_new_reason">Добавить новую причину простоя</a></li>
                <li><a href="/add_new_action">Добавить новый action</a></li>
            </ul>
        </nav>
            <main class="content">
            {% block content %}{% endblock %}
            </main>
        </div>
    </div>
</div>

<script>
/* Когда пользователь нажимает на кнопку, переключаться раскрывает содержимое */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Закрыть раскрывающийся список, если пользователь щелкнет за его пределами.
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script>
</body>
</html>

